@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
body {
	background-image: url("../images/background.jpg");
	background-repeat : repeat;
    background-attachment : fixed;
	padding: 0px;
	margin: 0px;
	align-content : center;
}
section{ display: inline-block; }
aside{ display: block;}
div{
	float:left;
	position: relative;
}
#rightdiv{
	left: 10px;
}
td.menu {
	padding: 10px;
	text-align : center;
}

.menutbl{
	margin:10px;
	padding:0px;		
	border:5px solid yellowgreen;
	background-color: orange;
	border-radius: 15px;
	font-family: 'Nanum Gothic', serif;
}
.menutbl tr td {
	padding-top: 30px;
}
.menutbl tr td img{
	padding-bottom: 5px;
}
.menutbl tr td select{
	margin: 10px;
	padding:3px;
}

#menutitle{
	height:100px;
	background-color :#EEEAE3;
	radius: 30px;
	
	font-family: 'Jeju Gothic', serif;
	
}

#titleText{
	font-size: 30px;
	text-align : left;
	padding-left: 100px;
	padding-bottom:10px;
}

.menus{
	margin:10px;
}

#listTable{
	margin:10px;
	padding:0px;
	border-collapse: collapse;
	background-image: url("../images/bg1.jpg") ;
	background-position: center;
}
#listtitle{
	height: 100px;
	font-family: 'Jeju Gothic', serif;
	background-color :#EEEAE3;
	border-radius: 30px;
}

#listtr{
	height:50px;
	border-bottom: 1px dotted;
	font-family: 'Nanum Gothic', serif;
	
}
#listTable td{
	text-align : center;
	font-size : large;
	font-weight : normal;
	border-bottom: 1px dotted;
	
}

	   
#totallist{
	font-family: 'Nanum Gothic', serif;
	height:50px;
}
